<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title>Edit User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


</head>
<body>
<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css"
      integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<!-- Popper JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
    html, body {
        height: 100%;
    }
</style>
<div class="modal" tabindex="-1" role="dialog" id="myEdit">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Edit User</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form action="#" th:action="@{/update/{id}(id=${user.id})}" th:object="${user}" method="post">

                    <div class="form-group">
                        <label for="name" class="control-label">First Name</label><br>
                        <input type="text" th:field="*{name}" id="name" placeholder="First Name">
                    </div>
                    <div class="form-group">
                        <label for="lastName" class="control-label">Last Name</label><br>
                        <input type="text" th:field="*{lastName}" id="lastName"
                               placeholder="Last Name">
                    </div>
                    <div class="form-group">
                        <label for="age" class="control-label">Age</label><br>
                        <input type="text" th:field="*{age}" id="age" placeholder="Age">
                    </div>
                    <div class="form-group">
                        <label for="login" class="control-label">Login</label><br>
                        <input type="text" th:field="*{login}" id="login" placeholder="Login">
                    </div>
                    <div class="form-group">
                        <label for="password" class="control-label">Password</label><br>
                        <input type="text" th:field="*{password}" id="password"
                               placeholder="Password">
                    </div>
                    <tr>
                        <th>Role:</th>
                        <td>
                            <select name="role">
                                <option>ADMIN</option>
                                <option>USER</option>
                            </select>
                        </td>
                    </tr>
                    <br><br>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <input class="btn btn-primary" type="submit" value="Edit">
            </div>
        </div>
    </div>
</div>
</body>
</html>